@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital@0;1&family=Montserrat:ital@0;1&family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,400;1,200;1,300&family=Roboto:ital@0;1&display=swap");

.night-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Poppins", "Inter", "Lato", "Montserrat", "Open Sans", "Roboto",
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #ffffff;
}

body {
  background-color: #ffffff;
}

nav ul #nav-items:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px #42b34d;
  transition-duration: 1.6s;
  border-radius: 10px;
}

nav ul li a:hover {
  color: black;
}

#theme-toggle {
  margin-left: 30px;
  background-color: transparent !important;
  box-shadow: transparent !important;
  cursor: pointer;
}

#mobile-menu .row {
  align-items: center;
  padding-left: 20px;
}

#theme-text-mobile {
  padding-top: 5px;
}

#mobile-theme-button {
  background-color: #0d47a1 !important;
  color: #42b34d !important;
}

#theme-text-mobile {
  color: #000000 !important;
}

#logo {
  padding-left: 30px;
}

#nav-mobile {
  padding-right: 20px;
}

#intro-para-1 {
  color: #000000;
  text-align: center;
  padding-top: 40px;
  font-size: 33px;
}

#intro-para-sub {
  color: #000000;
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.container-branches {
  padding: 15px 9%;
  padding-bottom: 100px;
  transition: 0.2s linear;
  text-decoration: none;
}

.container-branches .heading {
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}

.container-branches .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 15px;
}

.container-branches .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container-branches .box-container .box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-branches .box-container .box img {
  height: 80px;
}

.container-branches .box-container .box h3 {
  color: #42b34d;
  font-size: 22px;
  padding: 10px 0;
}

.container-branches .box-container .box p {
  color: #000000;
  font-size: 15px;
  line-height: 1.8;
}

.container-branches .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: #2764bf;
  color: #ffffff;
  font-size: 17px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  position: relative;
}

.btn::after {
  content: "\e569";
  font-family: "Material Icons";
  margin-left: 5px;
  vertical-align: middle;
}

.phn-number {
  color: #000000;
  font-size: 15px;
  line-height: 1.8;
}

.phn-number::before {
  content: "\f0e2";
  font-family: "Material Icons";
  margin-left: 5px;
  vertical-align: middle;
  font-size: 30px;
}

.container-branches .box-container .box .btn:hover {
  background-color: #0d47a1;
  color: #42b34d;
}

.container-branches .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .container-branches {
    padding: 20px;
  }
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #0d47a1;
  box-shadow: 0 0 10px #42b34d;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top span {
  color: #fff;
  font-size: 2.5rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: #0d47a1;
}
.back-to-top:hover span {
  transform: translateY(-4px);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #0d47a1, #42b34d);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

.footer-row-1 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col-1 {
  flex-basis: 25%;
  padding: 10px;
}

.footer-col-1:nth-child(2),
.footer-col-1:nth-child(3) {
  flex-basis: 15%;
}

.footer-logo {
  width: 80px;
  margin-bottom: 30px;
}

.footer-col-1 h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #42b34d;
  margin: 20px 0;
}

.footer-col-1 ul li {
  list-style: none;
  margin-bottom: 12px;
}

.footer-col-1 ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0d47a1;
  margin-bottom: 50px;
}

.footer-form .fa-solid {
  font-size: 18px;
  margin-right: 10px;
}

.footer-form input {
  width: 100%;
  background: transparent;
  color: #000;
  border: 0;
  outline: none;
}

.footer-form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.footer-form button .fa-solid {
  font-size: 16px;
  color: #0d47a1;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  margin: 3.6px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
}

.social-icons a {
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  transform: translateY(-10px);
}

.social-icons a:hover .fa-brands {
  color: #42b34d;
}

.underline-1 {
  width: 50px;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  top: 25px;
  left: 0;
  overflow: hidden;
  position: relative;
}

.underline-1 span {
  width: 15px;
  height: 100%;
  background: #42b34d;
  border-radius: 3px;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
  position: absolute;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100px;
  }
}

@media screen and (max-width: 670px) {
  header {
    min-height: 113px;
  }
  #intro-para-1 {
    padding-top: 30px;
    font-size: 20px;
  }

  #intro-para-sub {
    color: #000000;
    text-align: center;
    padding: 20px 10px 0px 10px;
    font-size: 15px;
  }

  .back-to-top span {
    font-size: 2.3rem;
  }
  .footer-col-1 {
    flex-basis: 100%;
  }

  .footer-col-1:nth-child(2),
  .footer-col-1:nth-child(3) {
    flex-basis: 100%;
  }

  .social-icons .fa-brands {
    margin: 10px;
  }
}

@media screen and (max-width: 1000px) {
  #expand-more {
    margin-left: 65%;
  }
}
