@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital@0;1&family=Montserrat:ital@0;1&family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,400;1,200;1,300&family=Roboto:ital@0;1&display=swap");

.night-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Inter", "Lato", "Montserrat", "Open Sans", "Roboto",
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #ffffff;
}

body {
  background-color: #ffffff;
}

nav ul #nav-items:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px #42b34d;
  transition-duration: 1.6s;
  border-radius: 10px;
}

nav ul li a:hover {
  color: black;
}

#theme-toggle {
  margin-left: 30px;
  background-color: transparent !important;
  box-shadow: transparent !important;
  cursor: pointer;
}

#mobile-menu .row {
  align-items: center;
  padding-left: 20px;
}

#theme-text-mobile {
  padding-top: 5px;
}

#mobile-theme-button {
  background-color: #0d47a1 !important;
  color: #42b34d !important;
}

#theme-text-mobile {
  color: #000000 !important;
}

#logo {
  padding-left: 30px;
}

#nav-mobile {
  padding-right: 20px;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #0d47a1;
  box-shadow: 0 0 10px #42b34d;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top span {
  color: #fff;
  font-size: 2.5rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: #0d47a1;
}
.back-to-top:hover span {
  transform: translateY(-4px);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #0d47a1, #42b34d);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}

.footer-row-1 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col-1 {
  flex-basis: 25%;
  padding: 10px;
}

.footer-col-1:nth-child(2),
.footer-col-1:nth-child(3) {
  flex-basis: 15%;
}

.footer-logo {
  width: 80px;
  margin-bottom: 30px;
}

.footer-col-1 h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #42b34d;
  margin: 20px 0;
}

.footer-col-1 ul li {
  list-style: none;
  margin-bottom: 12px;
}

.footer-col-1 ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0d47a1;
  margin-bottom: 50px;
}

.footer-form .fa-solid {
  font-size: 18px;
  margin-right: 10px;
}

.footer-form input {
  width: 100%;
  background: transparent;
  color: #000;
  border: 0;
  outline: none;
}

.footer-form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.footer-form button .fa-solid {
  font-size: 16px;
  color: #0d47a1;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  margin: 3.6px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
}

.social-icons a {
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  transform: translateY(-10px);
}

.social-icons a:hover .fa-brands {
  color: #42b34d;
}

.underline-1 {
  width: 50px;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  top: 25px;
  left: 0;
  overflow: hidden;
  position: relative;
}

.underline-1 span {
  width: 15px;
  height: 100%;
  background: #42b34d;
  border-radius: 3px;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
  position: absolute;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100px;
  }
}

@media screen and (max-width: 670px) {
  header {
    min-height: 113px;
  }

  .back-to-top span {
    font-size: 2.3rem;
  }
  .footer-col-1 {
    flex-basis: 100%;
  }

  .footer-col-1:nth-child(2),
  .footer-col-1:nth-child(3) {
    flex-basis: 100%;
  }

  .social-icons .fa-brands {
    margin: 10px;
  }
}

.contact-us {
  padding-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.container-contact {
  max-width: 1100px;
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 20px 50px 20px rgba(0, 0, 0, 0.2);
}
.container-contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-contact .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}
.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}
.content .left-side .details {
  margin: 14px;
  text-align: center;
}
.content .left-side .details i {
  font-size: 30px;
  color: #0d47a1;
  margin-bottom: 10px;
}
.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container-contact .content .right-side {
  width: 75%;
  margin-left: 75px;
}
.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #0d47a1;
}
.right-side .input-box {
  height: 55px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  box-shadow: #000000;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

::placeholder {
  color: #666669;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #666669;
}

.right-side .input-box textarea {
  padding-top: 6px;
  width: 100%;
}
.right-side .button {
  display: inline-block;
  margin-top: 12px;
}
.right-side .button button[type="submit"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #366cbc;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button button[type="submit"]:hover {
  background: #0d47a1;
  color: #42b34d;
  transform: scale(1.045);
}

@media (max-width: 950px) {
  .container-contact {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }
  .container-contact .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}
@media (max-width: 820px) {
  .container-contact {
    margin: 40px 0;
    height: 100%;
  }
  .container-contact .content {
    flex-direction: column-reverse;
  }
  .container-contact .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container-contact .content .left-side::before {
    display: none;
  }
  .container-contact .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}
