@import url("https://fonts.googleapis.com/css2?family=Inter&family=Lato:ital@0;1&family=Montserrat:ital@0;1&family=Open+Sans:ital@0;1&family=Poppins:ital,wght@0,400;1,200;1,300&family=Roboto:ital@0;1&display=swap");

.night-mode {
  filter: invert(1) hue-rotate(180deg);
}

.invert {
  filter: invert(1) hue-rotate(180deg);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Inter", "Lato", "Montserrat", "Open Sans", "Roboto",
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  background-color: #ffffff;
}

body {
  background-color: #ffffff;
}

nav ul #nav-items:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px #42b34d;
  transition-duration: 1.6s;
  border-radius: 10px;
}

.sidenav li:hover {
  background-color: #ffffff;
  box-shadow: 0 0 10px #42b34d;
  transition-duration: 1.6s;
  border-radius: 10px;
}

nav ul li a:hover {
  color: black;
}

#theme-toggle {
  margin-left: 30px;
  background-color: transparent !important;
  box-shadow: transparent !important;
  cursor: pointer;
}

#mobile-menu .row {
  padding-top: 10px;
  align-items: center;
  padding-left: 20px;
}

#theme-text-mobile {
  padding-top: 5px;
}

#mobile-theme-button {
  background-color: #0d47a1 !important;
  color: #42b34d !important;
}

#theme-text-mobile {
  color: #000000 !important;
}

.material-icons {
  color: #42b34d !important;
}

#logo {
  padding-left: 30px;
}

#nav-mobile {
  padding-right: 20px;
}

#intro-para-1 {
  color: #000000;
  text-align: center;
  padding-top: 40px;
  font-size: 33px;
}

#intro-para-sub {
  color: #000000;
  text-align: center;
  padding-top: 20px;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

#swiper-section {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #0d47a1;
  box-shadow: 0 0 10px #42b34d;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  transition: 0.2s ease-out;
}

.back-to-top span {
  color: #fff;
  font-size: 2.5rem;
  transition: 0.2s ease-out;
}

.back-to-top:hover {
  background-color: #0d47a1;
}
.back-to-top:hover span {
  transform: translateY(-4px);
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to right, #0d47a1, #42b34d);
  color: #fff;
  padding: 100px 0 30px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
}
.footer-row-1 {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-col-1 {
  flex-basis: 25%;
  padding: 10px;
}

.footer-col-1:nth-child(2),
.footer-col-1:nth-child(3) {
  flex-basis: 15%;
}

.footer-logo {
  width: 80px;
  margin-bottom: 30px;
}

.footer-col-1 h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #42b34d;
  margin: 20px 0;
}

.footer-col-1 ul li {
  list-style: none;
  margin-bottom: 12px;
}

.footer-col-1 ul li a {
  text-decoration: none;
  color: #fff;
}

.footer-form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0d47a1;
  margin-bottom: 50px;
}

.footer-form .fa-solid {
  font-size: 18px;
  margin-right: 10px;
}

.footer-form input {
  width: 100%;
  background: transparent;
  color: #000;
  border: 0;
  outline: none;
}

.footer-form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}

.footer-form button .fa-solid {
  font-size: 16px;
  color: #0d47a1;
}

.social-icons .fa-brands {
  width: 40px;
  height: 40px;
  margin: 3.6px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #000000;
  background: #ffffff;
  cursor: pointer;
}

.social-icons a {
  display: inline-block;
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  transform: translateY(-10px);
}

.social-icons a:hover .fa-brands {
  color: #42b34d;
}

.underline-1 {
  width: 50px;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  top: 25px;
  left: 0;
  overflow: hidden;
  position: relative;
}

.underline-1 span {
  width: 15px;
  height: 100%;
  background: #42b34d;
  border-radius: 3px;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
  position: absolute;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100px;
  }
}

@media screen and (max-width: 670px) {
  header {
    min-height: 113px;
  }
  #intro-para-1 {
    padding-top: 30px;
    font-size: 20px;
  }

  #intro-para-sub {
    color: #000000;
    text-align: center;
    padding: 20px 10px 0px 10px;
    font-size: 15px;
  }

  .back-to-top span {
    font-size: 2.3rem;
  }
  .footer-col-1 {
    flex-basis: 100%;
  }

  .footer-col-1:nth-child(2),
  .footer-col-1:nth-child(3) {
    flex-basis: 100%;
  }

  .social-icons .fa-brands {
    margin: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .slider-area h2 {
    font-size: 30px;
  }
  .wrapper {
    width: 95%;
    border-radius: 0;
    padding: 0;
  }
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  width: 100%;
  height: 35em;
  display: flex;
  align-items: center;
}

.card {
  width: 20em;
  height: 90%;
  background-color: #fff;
  border-radius: 2em;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 2em;
}

.swiper-slide:not(.swiper-slide-active) {
  filter: blur(1px);
}

.card__image {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border: 5px solid #42b34d;
  padding: 3px;
  margin-bottom: 2em;
}

.card__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 0.2em;
  color: #42b34d;
}

.card__name {
  color: #42b34d;
}

.card__text {
  text-align: center;
  font-size: 1.1rem;
  margin: 1em 0;
}

.card__btn {
  background-color: #42b34d;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  padding: 0.5em;
  border-radius: 0.5em;
  margin-top: 0.5em;
  cursor: pointer;
  margin-bottom: 200px;
}

.card__btn:hover {
  background-color: #05610e;
}
